{
    "extends": [
        "eslint-config-postcss/es5",
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2015
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "max-len": [1, 180],
        "no-extra-parens": 0,
        "no-console": 0
    }
}
